<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.pagination.min.js' %}"></script>
</head>
<body>
<table border="1">
    {% for i in good %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.price }}</td>
        <td><img src="{{ i.image }}" alt=""></td>
    </tr>
    {% endfor %}

    <div id="fy"></div>
<script>
    $('#fy').pagination({
        currentPage: {{ current_page }},
        totalPage: {{ total_page }},
        callback: function (p) {
            window.location.href='/?p='+ p
        }
    })
</script>


</table>
</body>
</html>